NEXT_PUBLIC_SUPABASE_URL=https://nkuijlzkwgyyykglanij.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5rdWlqbHprd2d5eXlrZ2xhbmlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NDE2NDMsImV4cCI6MjA5MjExNzY0M30.FED7JlCznPeow7EoZDQqgC4zgwRVIzSXE-wgMt2ClAQ
